annotated-types==0.6.0
anyio==3.7.1
APScheduler==3.10.4
attrs==23.2.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
exceptiongroup==1.2.0
fastapi==0.104.1
finance-datareader==0.9.66
gunicorn==21.2.0
h11==0.14.0
html5lib==1.1
idna==3.6
lxml==5.0.0
numpy==1.26.3
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.4
plotly==5.18.0
pycodestyle==2.11.1
pydantic==2.5.2
pydantic_core==2.14.5
PyMySQL==1.1.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
requests-file==1.5.1
selenium==4.16.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.23
starlette==0.27.0
tenacity==8.2.3
tomli==2.0.1
tqdm==4.66.1
trio==0.23.2
trio-websocket==0.11.1
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
urllib3==1.26.6
uvicorn==0.24.0.post1
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.7.0
wsproto==1.2.0
